body{
  background-image: url("images/space.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1{
  font-family: Verdana, Sans-Serif;
  text-align: center;
  color: white;
  font-weight: bold;
}

table{
  border: 3px solid white;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

td{
  border: 3px rgb(88, 24, 69);
  font-family: Verdana, Sans-Serif;
  text-align: center;
  color: black;
  background-color: white;
}

th{
  border: 3px rgb(88, 24, 69);
  font-family: Verdana, Sans-Serif;
  text-align: center;
  color: black;
  background-color: white;
  font-weight: bold;
}